
<tr>
    <td>SF0001</td>
    <td>Nisansala</td>
    <td>dananjaya.nisansale@gmail.com</td>
    <td>HN0001</td>
    <td>0756543452</td>
    <td>
        <a href="#" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa fa-times" aria-hidden="true"></i></span>
        </a>
    </td>
</tr>
